---
# add pseudopotential family
- name: Download "{{ pp.file }}"
  tags: aiida_pps
  get_url:
    url: "{{ pp.url }}/{{ pp.file }}"
    dest: "{{ aiida_code_folder }}/{{ pp.file }}"
    mode: "u+r"
  register: aiida_pp_download

- import_tasks: aiida-pps-sssp.yml
  tags: aiida_pps
  when: "'sssp' in pp.name"

- import_tasks: aiida-pps-oncv.yml
  tags: aiida_pps
  when: "'oncv' in pp.name"

- include_role:
    name: release_notes
  vars:
    section: "AiiDA"
    option: "{{ pp.name }}"
    value: >-
        pseudopotential family {{ pp.name }}: {{ pp.description }}
        homepage: {{ pp.home_page }}
  tags: aiida_pps
  when: release_notes is defined and release_notes
