- name: Start services for systemd
  when: ansible_service_mgr == "systemd"
  block:
  - name: Start Postgresql service
    become: true
    become_user: "{{ root_user }}"
    service:
      name: "postgresql"
      state: "started"
      enabled: true
  # see https://github.com/marvel-nccr/quantum-mobile/issues/111
  - name: Ensure correct RabbitMQ shutdown
    become: true
    become_user: "{{ root_user }}"
    lineinfile:
      path: /lib/systemd/system/rabbitmq-server.service
      regexp: ExecStop=/usr/sbin/rabbitmqctl stop
      line: ExecStop=/usr/sbin/rabbitmqctl shutdown
  - name: Start RabbitMQ service
    become: true
    become_user: "{{ root_user }}"
    service:
      name: "rabbitmq-server"
      state: "started"
      enabled: true

- name: Check Postgresql
  when: ansible_service_mgr != "systemd"
  block:
  - name: Check if Postgresql is running
    shell: pgrep postgres
    changed_when: false
  rescue:
  - name: Start Postgresql
    become: true
    become_user: "{{ aiida_postgres_user }}"
    command: "{{ aiida_postgres_bin_location }}/pg_ctl start -D {{ aiida_postgres_data_location }} -s -o '-p 5432' -w -t 300"

- name: Check RabbitMQ
  when: ansible_service_mgr != "systemd"
  block:
  - name: Check if RabbitMQ is running
    shell: pgrep rabbitmq
    changed_when: false
  rescue:
  - name: Start RabbitMQ
    become: true
    become_user: "{{ root_user }}"
    shell: rabbitmq-server > /dev/null 2>&1 &

- name: Setup postgres db
  become: true
  become_user: "{{ aiida_postgres_user }}"
  postgresql_db:
    name: "{{ aiida_postgres_db }}"

- name: Setup postgres db user
  become: true
  become_user: "{{ aiida_postgres_user }}"
  postgresql_user:
    db: "{{ aiida_postgres_db }}"
    name: "{{ aiida_postgres_db_user }}"
    password: "{{ aiida_postgres_db_pw }}"
    encrypted: true

- name: add aiida templates folder
  become: true
  become_user: "{{ root_user }}"
  file:
    path: "{{ aiida_templates_folder |  regex_replace('\\$\\{HOME}', current_user_home) }}"
    state: "directory"
    mode: 0755
    owner: "{{ current_user }}"

- name: add aiida data folder
  become: true
  become_user: "{{ root_user }}"
  file:
    path: "{{ aiida_data_folder |  regex_replace('\\$\\{HOME}', current_user_home) }}"
    state: "directory"
    mode: 0755
    owner: "{{ current_user }}"
