# note: current_user is a dependency, but it won't run
# if you use a tag to select just the daemon tasks
- include_role:
    name: marvel-nccr.current_user
  when: current_user is undefined

- name: Add AiiDA Daemon as system service
  become: true
  become_user: "{{ root_user }}"
  template:
    src: aiida-daemon@.service
    dest: /etc/systemd/system
    owner: root
    group: root
    mode: 0644
  vars:
    daemon_user: "{{ current_user }}"
    daemon_user_home: "{{ current_user_home }}"
    daemon_aiida_venv: "{{ aiida_venv |  regex_replace('\\$\\{HOME}', current_user_home) }}"
  when: ansible_service_mgr == "systemd"

- name: Start AiiDA Daemon system service
  become: true
  become_user: "{{ root_user }}"
  systemd:
    name: aiida-daemon@{{ aiida_profile_name }}
    enabled: true
    masked: false
    daemon-reload: true
    state: restarted
  when: ansible_service_mgr == "systemd"

- block:
  - name: Check if the AiiDA daemon is running
    command: "{{ aiida_venv }}/bin/verdi -p {{ aiida_profile_name }} daemon status"
    changed_when: false
  rescue:
  - name: Start AiiDA Daemon
    command: "{{ aiida_venv }}/bin/verdi -p {{ aiida_profile_name }} daemon start"
  when: ansible_service_mgr != "systemd"
