---
# make sure we only accept Python version >=3
- name: Check Python version
  fail:
    msg: >
      "Please ensure that you use Python 3 to execute this Ansible playbook/role. "
      "AiiDA requires Python 3. The simplest is to run the ansible command with "
      "`-e 'ansible_python_interpreter=/usr/bin/python3'`, depending on where your "
      "Python 3 interpreter is."
  when: ansible_python_version is version('3', '<')

# note: current_user is a dependency, but it won't run
# if you use a tag to select just the daemon tasks
- name: Get info on current user
  include_role:
    name: marvel-nccr.current_user
  tags: always
  when: current_user is undefined

- name: set default locale
  become: true
  become_user: "{{ root_user }}"
  lineinfile:
    dest: /etc/default/locale
    regexp: "LC_ALL"
    line: "LC_ALL=\"en_US.UTF-8\""

- include_tasks: aiida-deps-rhel.yml
  tags: aiida_deps
  when: ansible_os_family|lower == 'redhat'
- include_tasks: aiida-deps-debian.yml
  tags: aiida_deps
  when: ansible_os_family|lower == 'debian'

# Start and setup Postgresql and RabbitMQ
- import_tasks: aiida-prepare.yml
  tags: aiida, aiida_prepare

# install and setup AiiDA, including profile etc.
- import_tasks: aiida-core.yml
  tags: aiida,aiida_core
- import_tasks: aiida-daemon.yml
  tags: aiida_daemon,aiida_core
- import_tasks: aiida-rest.yml
  tags: aiida_rest,aiida_core

# setup computers
- include_tasks: computers-setup.yml
  tags: aiida_computers,aiida_core
  when: '"computers" in aiida_components'

# setup plugins and codes
- include_tasks: plugins/main.yml
  tags: aiida_plugins
  when: '"plugins" in aiida_components'

# Broken because of old export file format
- include_tasks: aiida-pps.yml
  vars:
    pp: "{{ item }}"
  with_items: "{{ aiida_pseudopotentials }}"
  tags: aiida_pps
  when: '"pseudopotentials" in aiida_components'

- include_tasks: aiida-examples.yml
  tags: aiida_examples
  when: '"examples" in aiida_components'
