---
# note: current_user is a dependency, but it won't run
# if you use a tag to select just the daemon tasks
- name: Get info on current user
  include_role:
    name: marvel-nccr.current_user
  tags: always
  when: current_user is undefined

- name: add aiida templates folder
  file:
    path: "{{ aiida_templates_folder }}"
    state: "directory"
    mode: 0755

- import_tasks: aiida-core.yml
  tags: aiida,aiida_core
- import_tasks: aiida-daemon.yml
  tags: aiida_daemon,aiida_core
- import_tasks: aiida-rest.yml
  tags: aiida_rest,aiida_core

- import_tasks: computers-setup.yml
  tags: aiida_computers,aiida_core

# codes need to come after computers
- import_tasks: plugins/main.yml

- name: "Create aiida data folder"
  become: true
  become_user: "{{ root_user }}"
  file:
    path: "{{ aiida_data_folder }}"
    state: directory

# Broken because of old export file format
- include_tasks: aiida-pps.yml
  vars:
    pp: "{{ item }}"
  with_items: "{{ aiida_pseudopotentials }}"
  tags: aiida_pps

- import_tasks: aiida-examples.yml
  tags: aiida_examples
