[Unit]
Description=AiiDA daemon service for profile %I
After=network.target postgresql.service rabbitmq-server.service

[Service]
Type=forking
ExecStart={{ daemon_aiida_venv }}/bin/verdi -p "%I" daemon start
PIDFile={{ daemon_user_home }}/.aiida/daemon/circus-%I.pid
# 2s delay to prevent read error on PID file
ExecStartPost=/bin/sleep 2

ExecStop={{ daemon_aiida_venv }}/bin/verdi -p "%I" daemon stop
ExecReload={{ daemon_aiida_venv }}/bin/verdi -p "%I" daemon restart

User={{ daemon_user }}
Group={{ daemon_user }}
Restart=on-failure
# Restart daemon after 1 min if crashes
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aiida-daemon-%I

[Install]
WantedBy=multi-user.target
