[Unit]
Description=AiiDA daemon service for profile %i
After=network.target postgresql.service rabbitmq-server.service

[Service]
Type=forking
ExecStart={{ daemon_aiida_venv }}/bin/verdi -p "%i" daemon start
PIDFile={{ daemon_user_home }}/.aiida/daemon/circus-%i.pid
# 2s delay to prevent read error on PID file
ExecStartPost=/bin/sleep 2

ExecStop={{ daemon_aiida_venv }}/bin/verdi -p "%i" daemon stop
ExecReload={{ daemon_aiida_venv }}/bin/verdi -p "%i" daemon restart

User={{ daemon_user }}
Group={{ daemon_user }}
Restart=on-failure
# Restart daemon after 1 min if crashes
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aiida-daemon-%i

[Install]
WantedBy=multi-user.target
