[Desktop Entry]
Encoding=UTF-8
Name=JupyterLab
Comment=Launch Jupyter Lab Server
Exec=/usr/local/bin/aiida-jupyterlab
Icon=jupyter-logo.png
Type=Application
